<launch>
   <param name="/use_sim_time" value="true"/>

 <!-- Run the map server --> 
   <!-- Set map location -->
   <arg name="map_file" default="/home/weeteck/map3.yaml"/>
   <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

      <!--  ************** Navigation ***************  -->
   <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <rosparam file="$(find robot_2dnav)/param/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
      <rosparam file="$(find robot_2dnav)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find robot_2dnav)/param/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find robot_2dnav)/param/global_costmap_params.yaml" command="load" /> 
      <rosparam file="$(find robot_2dnav)/param/base_local_planner_params.yaml" command="load" />
      <rosparam file="$(find robot_2dnav)/param/teb_local_planner_params.yaml" command="load" />
      <!-- <rosparam file="$(find robot_2dnav)/param/base_global_planner_params.yaml" command="load" /> -->
      <!-- <rosparam file="$(find robot_2dnav)/param/dwa_local_planner_params.yaml" command="load" /> -->

		<param name="base_global_planner" value="global_planner/GlobalPlanner" />
		<param name="planner_frequency" value="1.0" />
		<param name="planner_patience" value="5.0" />

      <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
   </node>

 <!--- Run AMCL --> 
	<node pkg="amcl" type="amcl" name="amcl" output="screen">
		<rosparam file="$(find robot_2dnav)/param/amcl_params.yaml" command="load" />

	        <param name="initial_pose_x"            value="2"/>
		<param name="initial_pose_y"            value="2"/>
		<param name="initial_pose_a"            value="0"/>
	</node>

</launch> 